extends /core
block content
	h1 This is not the page you are looking for...
	div.block
		p Aww, it looks like the page your were looking for was not found! This could either be because the page is not finished, or you made a typo.
		p If this is not the case, then please contact the server developer(s) here about this incident. Thank you!