extends /core
block content
	h1 About Us
	div.block
		p Worlds Apart is a family run and family friendly server. We expect you to behave here as you would in front of your family.
		p We have a strict anti-profanity rule - type/talk as if you are talking in front of your youngest/eldest family members.
		p Worlds Apart is not an RP server. There are some elements of RP, such as the alliances, the style of communities, and the buildings within them, but mostly, you are expected to just be yourself.
		p Worlds Apart is a survival server focused on alliance-based community.
		p Players can choose to play normal survival or work on community development.
		p We also have a PlotMe creative world with full WorldEdit access to plan builds and relax.
		p Worlds Apart is operated by custom plugins developed by admins of the server, for the server. No other server has our systems, and they were designed specifically for us, by us.