extends /core
block content
	h1 Login to WCN
	div.block
		input(type="text", name="username", placeholder="Username")
		input(type="password", name="password", placeholder="Password")
		div.pad_wrap
			button(type="submit", name="login") Login
			button(type="submit", name="register") Register